{
  "presets": [ "@babel/typescript" ],
  "plugins": [
    ["module-resolver", {
      "cwd": "./src/gta-op",
      "alias": {
        "@config": "./config",
        "@lib": "./lib",
        "@core": "./lib/core",
        "@assets": "./assets"
      }
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
