{
  "presets": [ "@babel/env" ],
  "plugins": [
    ["module-resolver", {
      "cwd": "./src/js",
      "alias": {
        "@root": "./",
        "@lib": "./lib",
        "@core": "./core"
      }
    }],
    "transform-remove-strict-mode",
    "@babel/plugin-proposal-class-properties"
  ]
}
