@import '../config/fonts';

button {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 1em 2em;

  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 5px;

  font: inherit;
  font-size: floor($font-size * 0.875);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: mix(#fff, #3b98be, 50%);
  text-shadow: none;
  line-height: 1;

  cursor: pointer;
  transition: 0.3s;

  &:hover, &:focus {
    color: #fff;
  }

  &.button-small {
    padding: 0.5em 1em;
  }

  &.button-light {
    background: mix(#fff, #3b98be, 70%);
    color: darken(#3b98be, 10%);

    &:hover, &:focus {
      background: #fff;
      color: darken(#3b98be, 10%);
    }
  }

  &.button-gold {
    background: #222;
    color: #fbc845;
    border: 2px solid #fbc845;

    &:hover, &:focus {
      background: #111;
      color: lighten(#fbc845, 5%);
    }
  }

  &.button-dark {
    background: darken(#3b98be, 10%);
    color: mix(#fff, #3b98be, 70%);

    &:hover, &:focus {
      background: darken(#3b98be, 25%);
      color: mix(#fff, #3b98be, 70%);
    }
  }
}
