@import '../config/fonts';

button {
  width: 100%;
  display: block;

  background: transparent;
  border: 0;
  outline: 0;
  padding: 1em 2em;
  border-radius: 5px;

  font: inherit;
  font-size: floor($font-size * 0.875);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: mix(#fff, #3b98be, 50%);

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #fff;
  }

  &.button-light {
    background: mix(#fff, #3b98be, 70%);
    color: darken(#3b98be, 10%);

    &:hover {
      background: #fff;
      color: darken(#3b98be, 10%);
    }
  }

  &.button-dark {
    background: darken(#3b98be, 10%);
    color: mix(#fff, #3b98be, 70%);

    &:hover {
      background: darken(#3b98be, 25%);
      color: mix(#fff, #3b98be, 70%);
    }
  }
}
