@import '../config/fonts';
@import '../core/util';

.popup {
  @extend %centered;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 2em 4em;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;

  color: darken(#3b98be, 10%);
  font-size: floor($font-size * 0.85);

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .popup-image {
    img {
      max-width: 25%;
      margin-bottom: 3em;
    }
  }

  .popup-buttons {
    margin-top: 3em;
    font-size: $font-size;

    &.popup-buttons-multiple {
      display: flex;
      margin-left: -0.5em;
      margin-right: -0.5em;

      button {
        width: 50%;
        margin: 0 0.5em;
      }
    }
  }
}
