@import '../config/fonts';
@import '../core/util';

.popup-wrap {
  @extend %cover;
  background: rgba(#000, 0.2);

  &,
  .popup {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  .popup {
    @extend %centered;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 2em;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;

    color: darken(#3b98be, 10%);
    font-size: floor($font-size * 0.85);

    transition-delay: 0.2s;

    .popup-image {
      img {
        max-width: 25%;
        margin-bottom: 3em;
      }
    }

    .popup-content {
      line-height: 1.5;
    }

    .popup-buttons {
      margin-top: 3em;
      font-size: $font-size;

      &.popup-buttons-multiple {
        display: flex;
        margin-left: -0.5em;
        margin-right: -0.5em;

        button {
          width: 50%;
          margin: 0 0.5em;
        }
      }
    }

    @media (min-width: 768px) {
      padding: 2em 4em;
    }
  }
}
