@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulsestrong {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes yellowing {
  from {
    filter: sepia(100%) hue-rotate(13deg) saturate(0%);
  }

  50% {
    filter: sepia(100%) hue-rotate(13deg) saturate(200%);
  }

  to {
    filter: sepia(100%) hue-rotate(13deg) saturate(0%);
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}
