@import '../config/fonts';
@import '../config/breakpoints';
@import '../config/container';
@import '../core/util';

.gui-component.gui-component-form-container {
  @extend %centered;

  display: flex;
  align-items: stretch;

  width: $container-width;
  height: 70%;
  border-radius: 10px;

  .form-container-background,
  .form-container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .form-container-background {
    position: relative;
    width: 30%;
    background: rgba(#b8c1d1, 0.4);
    border-radius: 10px 0 0 10px;
    border-right: 5px solid #fbc845;

    .form-container-logo {
      position: relative;
      width: 80%;

      img {
        width: 100%;

        &.form-container-logo-primary {
          opacity: 0;
          transition: 0.75s;
          transition-delay: 0.5s;
        }

        &.form-container-logo-secondary {
          @extend %cover;
          height: auto !important;

          transform: translateY(25%);
          opacity: 0;
          transition: 0.75s;
          transition-delay: 1.5s;

          animation: float 6s ease-in-out infinite;
          animation-delay: 2.25s;
        }
      }
    }
  }

  .form-container-content {
    width: 70%;
    background: #3b98be;
    color: #fff;
    border-radius: 0 10px 10px 0;

    .form-container-content-inner {
      width: 85%;
      text-align: center;
    }

    @include headings {
      line-height: 1.5;
      text-align: center;
      margin-bottom: 3em;
      color: #fff;
    }

    form {
      color: mix(#fff, #3b98be, 70%);

      label {
        span {
          color: #fbc845;
        }

        input {
          border-color: mix(#fff, #3b98be, 42%);
          color: mix(#fff, #3b98be, 42%);

          &:focus, &:active:not(:disabled) {
            border-color: #fff;
            color: #fff;
          }
        }

        .label-info {
          color: #fbc845;
        }
      }
    }
  }

  &:after {
    @extend %pseudo-clear;
  }

  &.visible {
    .form-container-background {
      .form-container-logo {
        img {
          &.form-container-logo-primary {
            opacity: 1;
          }

          &.form-container-logo-secondary {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  @media (min-width: #{$md}) {
    width: $container-width-md;

    .form-container-background {
      width: 40%;

      .form-container-logo {
        width: 60%;
      }
    }

    .form-container-content {
      width: 60%;
    }
  }

  @media (min-width: #{$lg}) {
    width: $container-width-lg;

    .form-container-content {
      .form-container-content-inner {
        width: 50%;
      }
    }
  }
}
